@{
    ViewBag.Title = "Home Page";
}

<div class="text-center" ng-app="app" ng-controller="AppCtrl">

    <h3>Fetch and Store  {{1+3}}</h3>
    
    <form>

        <select id="dropdown">
            <option value="get">GET</option>
            <option value="head">HEAD</option>
        </select>

        <input type="text" id="inputfield" placeholder="Enter a URL">

        <button id="fetch">Fetch</button>

    </form>

</div>