@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="FetchCtrl">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="text-info">Fetch and Store</h2>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <form class="form-inline">
                <div class="form-group">

                    <select class="form-control" ng-model="MethodUsed">
                        <option ng-value="GET">GET</option>
                        <option ng-value="HEAD">HEAD</option>
                    </select>

                    <input type="text" ng-model="UserURL" class="form-control" id="UserURL" placeholder="Enter a URL" />

                    <button class="btn btn-info" ng-click="goFetch()">Fetch</button>
                </div>
            </form>
        </div>
    </div>

</div>